.page-title{
    text-align: center;
}
.dataTables_length select{
    width: 50px;
}
.wp-mail-smtp-license-notice{
    display: none;
}
.feedback-page {
    width: 97%;
    background: white;
    padding: 10px;
    margin-top: 30px;
}
.cs-feedback_model ul.feedback_data_display{
	padding-left: 0;
	background: #f6f6f6;
    padding: 10px;
}
ul.feedback_data_display li {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
ul.feedback_data_display li:last-child{
	border-bottom:none;
}
.modal-header.ui-draggable-handle {
    cursor: move;
}
table#feedfack_table td,table#feedfack_table1 td {
    font-size: 14px;
}